.home-hero-banner{
    @apply flex items-center justify-evenly bg-gradient-to-b from-blue to-secondary_blue text-white h-screen;
    i{
        @apply text-3xl leading-none;
    }
    hr{
        @apply border-t-2 border-blue dark:border-white;
    }
    img{
        @apply w-auto;
    }
    .vertical-text{
        writing-mode: vertical-lr;
    }
    .splide__pagination{
        @apply absolute mt-16 gap-1;
        .splide__pagination__page{
            @apply bg-white w-2 h-2;
            border-radius:20px;
            cursor:pointer;
            transition:0.3s ease width;

        }
        .splide__pagination__page.is-active{
            @apply bg-primary scale-100 w-4;
        }
    }
}
#services{
    @apply my-16;
    .service-button{
        @apply w-full border border-blue/10 py-4 px-8 rounded-2xl flex items-center justify-between;
        .service-icon{
            @apply text-xl mr-4;
            line-height: 0;
        }
        i{
            line-height: 0;
        }
        .service-bg-arrow{
            @apply flex items-center justify-center w-6 h-6 bg-blue/10 text-blue rounded-full;
        }
    }
    .service-button-active{
        @apply bg-gradient-to-b from-blue to-secondary_blue text-white;
        .service-bg-arrow{
            @apply bg-primary;
        }
    }
    .service-description{
        @apply bg-slate-100;
    }
}
#faqs{
    .questions{
        @apply flex flex-col md:flex-row justify-between flex-wrap w-full gap-4;
        .question{
            @apply w-full md:w-[30%];
        }
    }
    .vertical-text{
        writing-mode: vertical-lr;
    }
}
#contact{
    .vertical-text{
        @apply rotate-180;
        writing-mode: vertical-lr;
    }
}